@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-LightWeb.eot");
    src: url("font/TSTAR-LightWeb.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-LightItalicWeb.eot");
    src: url("font/TSTAR-LightItalicWeb.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-RegularWeb.eot");
    src: url("font/TSTAR-RegularWeb.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-RegularItalicWeb.eot");
    src: url("font/TSTAR-RegularItalicWeb.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-MediumWeb.eot");
    src: url("font/TSTAR-MediumWeb.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-MediumItalicWeb.eot");
    src: url("font/TSTAR-MediumItalicWeb.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-BoldWeb.eot");
    src: url("font/TSTAR-BoldWeb.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-BoldItalicWeb.eot");
    src: url("font/TSTAR-BoldItalicWeb.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: TSTAR;
    src: url("font/TSTAR-HeavyWeb.eot");
    src: url("font/TSTAR-HeavyWeb.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}